auditwheel==5.4.0
contourpy==1.1.1
cycler==0.12.1
distro==1.9.0
fonttools==4.53.1
importlib_resources==6.4.0
kiwisolver==1.4.5
matplotlib==3.7.5
numpy==1.24.4
opencv-python==4.10.0.84
packaging==24.1
pandas==2.0.3
pillow==10.4.0
pyelftools==0.30
pyparsing==3.1.2
python-dateutil==2.9.0.post0
pytz==2024.1
scipy==1.10.1
six==1.16.0
tzdata==2024.1
zipp==3.19.2
